<ul class="flex flex-col h-full w-64 max-w-xs p-4 bg-lime-200 -left-full z-10">
  <!-- HOME LINK -->
  <!-- <li class="my-px">
    <a
      [routerLink]="['/']"
      [ngClass]="[
        this.modules[0].active ? activeLinkClass : inactiveLinkClass
      ]"
      (click)="toggleSidebarNavLink(this.modules[0].name)"
      class="flex flex-row items-center h-12 px-4 rounded-lg text-yellow-400 bg-green-800 hover:bg-green-700"
    >
      <span class="flex items-center justify-center text-lg">
        <svg
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          [ngClass]="[
            this.modules[0].active ? activeIconClass : inactiveIconClass
          ]"
          class="h-6 w-6"
        >
          <path
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          ></path>
        </svg>
      </span>
      <span class="ml-3">Home</span>
    </a>
  </li> -->
  <!-- HOME LINK -->

  <!-- ATTENDANCES LINK -->
  <li class="my-px">
    <a
      [routerLink]="['/attendances']"
      [ngClass]="[
        this.modules[1].active ? activeLinkClass : inactiveLinkClass
      ]"
      (click)="toggleSidebarNavLink(this.modules[1].name)"
      class="flex flex-row items-center h-12 px-4 rounded-lg hover:bg-lime-300"
    >
      <span class="flex items-center justify-center text-lg">
        <svg
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          [ngClass]="[
            this.modules[1].active ? activeIconClass : inactiveIconClass
          ]"
          class="h-6 w-6"
        >
          <path
            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
          ></path>
        </svg>
      </span>
      <span class="ml-3">Attendances</span>
    </a>
  </li>
  <!-- ATTENDANCES LINK -->

  <!-- SCHEDULES LINK -->
  <li class="my-px">
    <a
      [routerLink]="['/routines']"
      [ngClass]="[
        this.modules[2].active ? activeLinkClass : inactiveLinkClass
      ]"
      (click)="toggleSidebarNavLink(this.modules[2].name)"
      class="flex flex-row items-center h-12 px-4 rounded-lg hover:bg-lime-300"
    >
      <span class="flex items-center justify-center text-lg">
        <svg
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          [ngClass]="[
            this.modules[2].active ? activeIconClass : inactiveIconClass
          ]"
          class="h-6 w-6"
        >
          <path
            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
          ></path>
        </svg>
      </span>
      <span class="ml-3">Routines</span>
    </a>
  </li>
  <!-- SCHEDULES LINK -->

  <!-- STUDENTS LINK -->
  <li class="my-px">
    <a
      [routerLink]="['/students']"
      [ngClass]="[
        this.modules[3].active ? activeLinkClass : inactiveLinkClass
      ]"
      (click)="toggleSidebarNavLink(this.modules[3].name)"
      class="flex flex-row items-center h-12 px-4 rounded-lg hover:bg-lime-300"
    >
      <span class="flex items-center justify-center text-lg">
        <svg
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          [ngClass]="[
            this.modules[3].active ? activeIconClass : inactiveIconClass
          ]"
          class="h-6 w-6"
        >
          <path
            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
          ></path>
        </svg>
      </span>
      <span class="ml-3">Students</span>
    </a>
  </li>
  <!-- USERS LINK -->

  <!-- SCAN QR CODE LINK -->
  <li class="my-px">
    <a
      [routerLink]="['/scan_qrcode']"
      [ngClass]="[
        this.modules[4].active ? activeLinkClass : inactiveLinkClass
      ]"
      (click)="toggleSidebarNavLink(this.modules[4].name)"
      class="flex flex-row items-center h-12 px-4 rounded-lg hover:bg-lime-300"
    >
      <span class="flex items-center justify-center text-lg text-green-400">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-qr-code-scan w-6 h-6"
          viewBox="0 0 16 16"
          [ngClass]="[
            this.modules[4].active ? activeIconClass : 'text-green-400'
          ]"
        >
          <path
            d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5M.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5M4 4h1v1H4z"
          />
          <path d="M7 2H2v5h5zM3 3h3v3H3zm2 8H4v1h1z" />
          <path d="M7 9H2v5h5zm-4 1h3v3H3zm8-6h1v1h-1z" />
          <path
            d="M9 2h5v5H9zm1 1v3h3V3zM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8zm2 2H9V9h1zm4 2h-1v1h-2v1h3zm-4 2v-1H8v1z"
          />
          <path d="M12 9h2V8h-2z" />
        </svg>
      </span>
      <span class="ml-3">Scan QR Code</span>
    </a>
  </li>
  <!-- SCAN QR CODE LINK -->

  <!-- LOGOUT LINK -->
  <!-- <li class="my-px">
    <a
      [routerLink]="['/logout']"
      class="flex flex-row items-center h-12 px-4 rounded-lg hover:bg-lime-300 text-gray-500"
    >
      <span class="flex items-center justify-center text-lg text-red-400">
        <svg
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
          ></path>
        </svg>
      </span>
      <span class="ml-3">Logout</span>
    </a>
  </li> -->
  <!-- LOGOUT LINK -->
</ul>
