<nav class="flex justify-between px-4 py-2 bg-green-900 w-full">
  <div class="flex items-center">
    <button
      class="p-1.5 bg-green-900 text-yellow-400 hover:bg-yellow-400 hover:text-green-900 rounded"
      (click)="toggleSidebar(sidebarActive)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
    <span class="text-yellow-400 font-bold italic text-2xl ms-2 font-sans"
      >AMSTICS</span
    >
  </div>
</nav>