<div class="relative shadow-lg rounded-xl overflow-auto p-2 w-full" [ngClass]="tableClass">
  <div class="overflow-auto my-3">
    <table class="w-full">
      <thead>
        <tr>
          <th
            *ngFor="let header of headers"
            class="border-b dark:border-slate-300 font-normal p-4 pl-8 pt-0 pb-3 text-left text-nowrap"
          >
            {{ header.name }}
          </th>
        </tr>
      </thead>

      <tbody class="overflow-auto">
        <ng-content></ng-content>
      </tbody>
    </table>
  </div>
</div>
